li:nth-child{
/*	padding: .4em 10px !important;*/
}

li:nth-child(even){
	/*background-color:#f7f7f7 ;*/
}

li:nth-child(odd){
	/*background-color:white ;*/
}

li:hover{
	background-color:#e4e4e4 ;
}

.today{
	padding: .5em 10px !important;
	background-color:#ccc !important;
	font-weight: 700;
}

.nottoday{
	padding: .3em 10px !important;
	font-weight: 300;
}

.hours{
	font-size: 15px;

}
.ui-block-p{
	float: left;
	width:35%;
}
.ui-block-q{
	margin-left: 35%;
	/*width:70%;*/
	font-size: 14px;
}
.timetext{
	line-height: 1.3;
	width:85%;
}

.current-status{
	margin-top: -35px;
	float: right;
	margin-right: -10px;
}

.nottoday .current-status{
	display: none;
}

.show{
	display: ;
}
.hide{
	display: none;
}